.DS_Store
__pycache__/
*.pyc
*.pyo
.ipynb_checkpoints/
.env
*.env
*.egg-info/
dist/
build/
.venv/
venv/
data/AT/processed/intraday_trades_AT.parquet
data/DE/processed/intraday_trades_DE.parquet
notebooks/my key.txt
**/my key.txt
